/* reset css */
body{
    font-size: 14px;
    font-family: "Microsoft YaHei",sans-serif;
    color:#333
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    text-decoration: none;
    color:#333;
}
/* reset css  end*/

/* 自定义图标 */
/* 1、通过 @font-face  定义字体*/
@font-face {
  /*2.申明自己的字体名称*/
  font-family: 'wjs';
  /*3.引入字体文件（约束某一段字符代码什么图案）*/
  src:
  url(../fonts/MiFie-Web-Font.svg) format('svg'),
  url(../fonts/MiFie-Web-Font.eot) format('embedded-opentype'),
  url(../fonts/MiFie-Web-Font.ttf) format('truetype'),
  url(../fonts/MiFie-Web-Font.woff) format('woff');
}
/*4.怎么使用维护性更好*/
.wjs_icon{
  font-family: wjs;
}
.wjs_icon_phone::before{
  content: "\e908";
}
.wjs_icon_tel::before{
  content: "\e909";
}
.wjs_icon_logo::before{
  content: "\e920";
}
.wjs_icon_logo_name::before{
  content: "\e93e";
}
.wjs_icon_dollar::before{
  content: "\e903";
}
.wjs_icon_clock::before{
  content: "\e906";
}


.wjs_icon_video::before{
  content: "\e905";
}
/* 自定义字体图标 end*/

/* modal css */
/* topBar */
.wjs_topBar{
    border-bottom: 1px solid  #ccc;
    font-size: 12px;
    color: #666;
}
/* 为防止嵌套样式的覆盖使用 > 子选择器，限定只应用于该元素的子元素 */
.wjs_topBar >.container{

}
.wjs_topBar >.container > .row{

}
/* .wjs_topBar >.container > .row > div{
    height: 40px;
    border-left: 1px solid #ccc
}
.wjs_topBar >.container > .row > div:first-child{    
    border-left: none;
} */
/* +,~选择器  + 选择器紧邻的下一个兄弟元素 ~后面所有的兄弟元素*/
.wjs_topBar >.container > .row > div{
    height: 40px;   
    line-height: 40px;
    text-align: center;
}
/* .wjs_topBar >.container > .row > div + div{
    border-left: 1px solid #ccc
} */
.wjs_topBar >.container > .row > div ~ div{
    border-left: 1px solid #ccc
}


.wjs_topBar .btn-register{
    border:none;
    background: #e92322;
    color:#fff;
    font-size: 12px;
    padding :3px 12px;
}
.wjs_topBar .btn-register:hover{
    border:none;
    color:#666;
}
.wjs_topBar .btn-login{
    text-decoration: none;
    font-size: 12px;

}
.wjs_topBar .btn-login:hover{
    border:none;
    
}

.wjs_app{
    display: block;  
}
.wjs_app img{
    display: none;
}
.wjs_app:hover img{
    display: block;
   position: absolute;
   /* 左移50 */
   left:50%;
   /* 图片宽度的一半 */
   margin-left:-60px;
   border-top:none;
   z-index: 1000;
}
/* topBar  End*/
/* 导航条
    为了保证自己修订得样式可以完全得覆盖bootstrap样式
    可以从源码种拷贝对应组件的样式组，再这个基础上进行修改
    利用css后加载覆盖先加载的原理，修改组件样式。
    而且可以定位到原组件内的所有选择器

    修改 .navbar-default 变成 wjs_nav
    注意覆盖时需要保留后面的空格，以免造成选择器失效 
    这样就可以自定义自己的样式

    但是有一些没用到的选择器，可能出现代码冗余
    建议可以保留方便后续修改。
*/
.wjs_nav {   
    margin-bottom: 0;
    border-color: #e7e7e7;
    border:none;
    border-bottom: 1px solid #ccc;
  }

  .wjs_nav .wjs_icon_logo{
    font-size: 50px;
    color:#e92322;
    vertical-align: middle;
  }
  .wjs_nav .wjs_icon_logo_name{
    font-size: 36px;
    color: #333;
    vertical-align: middle;
  }
  .wjs_nav .navbar-brand {
    color: #777;
    /* 
    根据原来
    .navbar-brand {
        float: left;
        height: 50px;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
    }
    根据样式分析此处需要加高的同时需要调整 line-height
    */
    height: 80px;
    line-height: 50px;
  }
  .wjs_nav .navbar-brand:hover,
  .wjs_nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
  }
  .wjs_nav .navbar-text {
    color: #777;
  }
  .wjs_nav .navbar-nav > li > a {
    color: #777;
    height: 80px;
    line-height: 50px;
  }
  .wjs_nav .navbar-nav > li > a:hover,
  .wjs_nav .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid #e92322;
  }
  .wjs_nav .navbar-nav > .active > a,
  .wjs_nav .navbar-nav > .active > a:hover,
  .wjs_nav .navbar-nav > .active > a:focus {
    color: #555;
    border-bottom: 3px solid #e92322;

  }
  .wjs_nav .navbar-nav > .disabled > a,
  .wjs_nav .navbar-nav > .disabled > a:hover,
  .wjs_nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
  .wjs_nav .navbar-toggle {
    border-color: #ddd;
    /* 高度变了 */
    margin-top :23px;
  }
  .wjs_nav .navbar-toggle:hover,
  .wjs_nav .navbar-toggle:focus {
    background-color: #ddd;
  }
  .wjs_nav .navbar-toggle .icon-bar {
    background-color: #888;
  }
  .wjs_nav .navbar-collapse,
  .wjs_nav .navbar-form {
    border-color: #e7e7e7;
  }
  .wjs_nav .navbar-nav > .open > a,
  .wjs_nav .navbar-nav > .open > a:hover,
  .wjs_nav .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  @media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
      color: #777;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #333;
      background-color: transparent;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #555;
      background-color: #e7e7e7;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #ccc;
      background-color: transparent;
    }
  }
  .wjs_nav .navbar-link {
    color: #777;
  }
  .wjs_nav .navbar-link:hover {
    color: #333;
  }
  .wjs_nav .btn-link {
    color: #777;
  }
  .wjs_nav .btn-link:hover,
  .wjs_nav .btn-link:focus {
    color: #333;
  }
  .wjs_nav .btn-link[disabled]:hover,
  fieldset[disabled] .wjs_nav .btn-link:hover,
  .wjs_nav .btn-link[disabled]:focus,
  fieldset[disabled] .wjs_nav .btn-link:focus {
    color: #ccc;
  }
/* end of 导航条 */

/* 轮播图 */
.wjs_banner .pc_imgBox{
  display: block;
  height: 500px;
  width: 100%;
  /* 铺满容器，且自适应不变形 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;          
  
}
.wjs_banner .m_imgBox{
  display: block;           
  width: 100%;         
}
.wjs_banner .m_imgBox img{
  display: block;
  width: 100%;
}


/*信息区块*/
.wjs_info{
    border-bottom: 1px solid #cccccc;
    padding:15px 0;
}
/*bootstrap并不一定能满足全部需求 设定宽度让信息区块内容居中*/
.wjs_info> .container{
    width: 900px;
}
/*在小屏容器时容器宽度750才能保证居中*/
/*
写媒体查询时默认可以省略screen
@media screen and  (min-width:768px ) and (max-width: 992px){*/

/*}*/
@media  (min-width:768px ) and (max-width: 992px) {
    .wjs_info> .container{
        width: 750px;
    }
}


.wjs_info> .container>div>a{
    display: block;
    padding: 15px 0;
}
.wjs_info> .container>div>a:hover{
    color: #e92322;
}
.wjs_info> .container>div>a .wjs_icon_dollar{
   font-size: 30px;
}
/*预约模块*/
.wjs_book{
  padding:40px 0;
    border-bottom: 1px solid #ccc;

}
.wjs_book> .container{
    width: 900px;
}
@media  (min-width:768px ) and (max-width: 992px) {
    .wjs_book> .container{
        width: 750px;
    }
}
/*设备最小时百分百*/
@media  (max-width: 768px) {
    .wjs_book> .container{
        width: 100%
    }
}

.wjs_book .book{
    color: #e92322;
    border-bottom: 1px dashed #e92322;
}
.wjs_book .video:hover{
    color:#e92322;
}
.wjs_book .wjs_icon{
    font-size: 20px;
}
/*预约模块 end*/

/*产品模块*/
.wjs_product{
    padding: 20px 0;
    background:#f5f5f5;
}

.wjs_product ,nav-tabs-container{
    width: 100%;
    overflow: hidden;
}

/*重新定义nav tab 样式 增加.wjs_product 限定样式适用范围*/
.wjs_product .nav-tabs{
    border-bottom: 1px solid #ddd;

}
.wjs_product .nav-tabs> li {
    float: left;
    /*margin-bottom: -1px;*/
    margin-left:15px;
}
.wjs_product .nav-tabs> li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 4px 4px 0 0;
}
.wjs_product .nav-tabs> li > a:hover {
    background-color: #f5f5f5;
    border-bottom: 1px solid red;
}
.wjs_product .nav-tabs> li.active > a,
.wjs_product .nav-tabs> li.active > a:hover,
.wjs_product .nav-tabs> li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #f5f5f5;
    border: none;
    border-bottom: 3px solid red;
}
.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs.nav-justified > li {
    float: none;
}
.nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}R
.nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}

/*产品模块 end*/