/* reset css */
body{
    font-size: 14px;
    font-family: "Microsoft YaHei",sans-serif;
    color:#333
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    text-decoration: none;
    color:#333;
}
/* 自定义字体图标 */
/* 1、通过 @font-face  定义字体*/
@font-face {
    /* 声明自定义字体名称 */
    font-family: "wjs";
    /* 引入字体文件(约束某一段字符代码表示什么图表) */
    src:
    url(../fonts/MiFie-Web-Font.svg) format('svg'),
    url(../fonts/MiFie-Web-Font.eot) format('embedded-opentype'),
    url(../fonts/MiFie-Web-Font.ttf) format('truetype'),
    url(../fonts/MiFie-Web-Font.woff) format('woff');
}
.wjs_icon{
    font-family: wjs;
}
.wjs_icon_phone::before{
    content: "\e908";
}
.wjs_icon_tel::before{
    content: "\e909";
}

/* modal css */
.wjs_topBar{
    border-bottom: 1px solid  #ccc;
    font-size: 12px;
    color: #666;
}
/* 为防止嵌套样式的覆盖使用 > 子选择器，限定只应用于该元素的子元素 */
.wjs_topBar >.container{

}
.wjs_topBar >.container > .row{

}
/* .wjs_topBar >.container > .row > div{
    height: 40px;
    border-left: 1px solid #ccc
}
.wjs_topBar >.container > .row > div:first-child{    
    border-left: none;
} */
/* +,~选择器  + 选择器紧邻的下一个兄弟元素 ~后面所有的兄弟元素*/
.wjs_topBar >.container > .row > div{
    height: 40px;   
    line-height: 40px;
    text-align: center;
}
/* .wjs_topBar >.container > .row > div + div{
    border-left: 1px solid #ccc
} */
.wjs_topBar >.container > .row > div ~ div{
    border-left: 1px solid #ccc
}


.wjs_topBar .btn-register{
    border:none;
    background: #e92322;
    color:#fff;
    font-size: 12px;
    padding :3px 12px;
}
.wjs_topBar .btn-register:hover{
    border:none;
    color:#666;
}
.wjs_topBar .btn-login{
    text-decoration: none;
    font-size: 12px;

}
.wjs_topBar .btn-login:hover{
    border:none;
    
}

.wjs_app{
    display: block;  
}
.wjs_app img{
    display: none;
}
.wjs_app:hover img{
    display: block;
   position: absolute;
   /* 左移50 */
   left:50%;
   /* 图片宽度的一半 */
   margin-left:-60px;
   border-top:none;
}
