/* reset css */
body{
    font-size: 14px;
    font-family: "Microsoft YaHei",sans-serif;
    color:#333
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    text-decoration: none;
    color:#333;
}
/* reset css  end*/

/* 自定义图标 */
/* 1、通过 @font-face  定义字体*/
@font-face {
  /*2.申明自己的字体名称*/
  font-family: 'wjs';
  /*3.引入字体文件（约束某一段字符代码什么图案）*/
  src:
  url(../fonts/MiFie-Web-Font.svg) format('svg'),
  url(../fonts/MiFie-Web-Font.eot) format('embedded-opentype'),
  url(../fonts/MiFie-Web-Font.ttf) format('truetype'),
  url(../fonts/MiFie-Web-Font.woff) format('woff');
}
/*4.怎么使用维护性更好*/
.wjs_icon{
  font-family: wjs;
}
.wjs_icon_phone::before{
  content: "\e908";
}
.wjs_icon_tel::before{
  content: "\e909";
}
.wjs_icon_logo::before{
  content: "\e920";
}
.wjs_icon_logo_name::before{
  content: "\e93e";
}
.wjs_icon_dollar::before{
  content: "\e903";
}
.wjs_icon_clock::before{
  content: "\e906";
}


.wjs_icon_video::before{
  content: "\e905";
}
.wjs_icon_news_01::before {
  content: "\e90e";
}

.wjs_icon_news_02::before {
  content: "\e90f";
}

.wjs_icon_news_03::before {
  content: "\e910";
}

.wjs_icon_news_04::before {
  content: "\e911";
}

.wjs_icon_partner01::before {
  content: "\e946";
}

.wjs_icon_partner02::before {
  content: "\e92f";
}

.wjs_icon_partner03::before {
  content: "\e92e";
}

.wjs_icon_partner04::before {
  content: "\e92a";
}

.wjs_icon_partner05::before {
  content: "\e929";
}

.wjs_icon_partner06::before {
  content: "\e931";
}

.wjs_icon_partner07::before {
  content: "\e92c";
}

.wjs_icon_partner08::before {
  content: "\e92b";
}

.wjs_icon_partner09::before {
  content: "\e92d";
}
/* 自定义字体图标 end*/

/* modal css */
/* topBar */
.wjs_topBar{
    border-bottom: 1px solid  #ccc;
    font-size: 12px;
    color: #666;
}
/* 为防止嵌套样式的覆盖使用 > 子选择器，限定只应用于该元素的子元素 */
.wjs_topBar >.container{

}
.wjs_topBar >.container > .row{

}
/* .wjs_topBar >.container > .row > div{
    height: 40px;
    border-left: 1px solid #ccc
}
.wjs_topBar >.container > .row > div:first-child{    
    border-left: none;
} */
/* +,~选择器  + 选择器紧邻的下一个兄弟元素 ~后面所有的兄弟元素*/
.wjs_topBar >.container > .row > div{
    height: 40px;   
    line-height: 40px;
    text-align: center;
}
/* .wjs_topBar >.container > .row > div + div{
    border-left: 1px solid #ccc
} */
.wjs_topBar >.container > .row > div ~ div{
    border-left: 1px solid #ccc
}


.wjs_topBar .btn-register{
    border:none;
    background: #e92322;
    color:#fff;
    font-size: 12px;
    padding :3px 12px;
}
.wjs_topBar .btn-register:hover{
    border:none;
    color:#666;
}
.wjs_topBar .btn-login{
    text-decoration: none;
    font-size: 12px;

}
.wjs_topBar .btn-login:hover{
    border:none;
    
}

.wjs_app{
    display: block;  
}
.wjs_app img{
    display: none;
}
.wjs_app:hover img{
    display: block;
   position: absolute;
   /* 左移50 */
   left:50%;
   /* 图片宽度的一半 */
   margin-left:-60px;
   border-top:none;
   z-index: 1000;
}
/* topBar  End*/
/* 导航条
    为了保证自己修订得样式可以完全得覆盖bootstrap样式
    可以从源码种拷贝对应组件的样式组，再这个基础上进行修改
    利用css后加载覆盖先加载的原理，修改组件样式。
    而且可以定位到原组件内的所有选择器

    修改 .navbar-default 变成 wjs_nav
    注意覆盖时需要保留后面的空格，以免造成选择器失效 
    这样就可以自定义自己的样式

    但是有一些没用到的选择器，可能出现代码冗余
    建议可以保留方便后续修改。
*/
.wjs_nav {
    margin-bottom: 0;
    border-color: #e7e7e7;
    border:none;
    border-bottom: 1px solid #ccc;
    /*配合固定导航样式*/z-index: 9999;
    background: #fff;
    width:100%;
    border-radius:   0;
    -webkit-border-radius:   0;
    top:0;
    left:0;
   
}

  .wjs_nav .wjs_icon_logo{
    font-size: 50px;
    color:#e92322;
    vertical-align: middle;
  }
  .wjs_nav .wjs_icon_logo_name{
    font-size: 36px;
    color: #333;
    vertical-align: middle;
  }
  .wjs_nav .navbar-brand {
    color: #777;
    /* 
    根据原来
    .navbar-brand {
        float: left;
        height: 50px;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;
    }
    根据样式分析此处需要加高的同时需要调整 line-height
    */
    height: 80px;
    line-height: 50px;
  }
  .wjs_nav .navbar-brand:hover,
  .wjs_nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
  }
  .wjs_nav .navbar-text {
    color: #777;
  }
  .wjs_nav .navbar-nav > li > a {
    color: #777;
    height: 80px;
    line-height: 50px;
  }
  .wjs_nav .navbar-nav > li > a:hover,
  .wjs_nav .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid #e92322;
  }
  .wjs_nav .navbar-nav > .active > a,
  .wjs_nav .navbar-nav > .active > a:hover,
  .wjs_nav .navbar-nav > .active > a:focus {
    color: #555;
    border-bottom: 3px solid #e92322;

  }
  .wjs_nav .navbar-nav > .disabled > a,
  .wjs_nav .navbar-nav > .disabled > a:hover,
  .wjs_nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
  .wjs_nav .navbar-toggle {
    border-color: #ddd;
    /* 高度变了 */
    margin-top :23px;
  }
  .wjs_nav .navbar-toggle:hover,
  .wjs_nav .navbar-toggle:focus {
    background-color: #ddd;
  }
  .wjs_nav .navbar-toggle .icon-bar {
    background-color: #888;
  }
  .wjs_nav .navbar-collapse,
  .wjs_nav .navbar-form {
    border-color: #e7e7e7;
  }
  .wjs_nav .navbar-nav > .open > a,
  .wjs_nav .navbar-nav > .open > a:hover,
  .wjs_nav .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  @media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
      color: #777;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #333;
      background-color: transparent;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #555;
      background-color: #e7e7e7;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #ccc;
      background-color: transparent;
    }
  }
  .wjs_nav .navbar-link {
    color: #777;
  }
  .wjs_nav .navbar-link:hover {
    color: #333;
  }
  .wjs_nav .btn-link {
    color: #777;
  }
  .wjs_nav .btn-link:hover,
  .wjs_nav .btn-link:focus {
    color: #333;
  }
  .wjs_nav .btn-link[disabled]:hover,
  fieldset[disabled] .wjs_nav .btn-link:hover,
  .wjs_nav .btn-link[disabled]:focus,
  fieldset[disabled] .wjs_nav .btn-link:focus {
    color: #ccc;
  }
/* end of 导航条 */

/* 轮播图 */
.wjs_banner .pc_imgBox{
  display: block;
  height: 300px;
  width: 100%;
  /* 铺满容器，且自适应不变形 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;          
  
}
.wjs_banner .m_imgBox{
  display: block;           
  width: 100%;         
}
.wjs_banner .m_imgBox img{
  display: block;
  width: 100%;
}


/*信息区块*/
.wjs_info{
    border-bottom: 1px solid #cccccc;
    padding:15px 0;
}
/*bootstrap并不一定能满足全部需求 设定宽度让信息区块内容居中*/
.wjs_info> .container{
    width: 900px;
}
/*在小屏容器时容器宽度750才能保证居中*/
/*
写媒体查询时默认可以省略screen
@media screen and  (min-width:768px ) and (max-width: 992px){*/

/*}*/
@media  (min-width:768px ) and (max-width: 992px) {
    .wjs_info> .container{
        width: 750px;
    }
}


.wjs_info> .container>div>a{
    display: block;
    padding: 15px 0;
}
.wjs_info> .container>div>a:hover{
    color: #e92322;
}
.wjs_info> .container>div>a .wjs_icon_dollar{
   font-size: 30px;
}
/*预约模块*/
.wjs_book{
  padding:40px 0;
    border-bottom: 1px solid #ccc;

}
.wjs_book> .container{
    width: 900px;
}
@media  (min-width:768px ) and (max-width: 992px) {
    .wjs_book> .container{
        width: 750px;
    }
}
/*设备最小时百分百*/
@media  (max-width: 768px) {
    .wjs_book> .container{
        width: 100%
    }
}

.wjs_book .book{
    color: #e92322;
    border-bottom: 1px dashed #e92322;
}
.wjs_book .video:hover{
    color:#e92322;
}
.wjs_book .wjs_icon{
    font-size: 20px;
}
/*预约模块 end*/

/*产品模块*/
.wjs_product{
    padding: 20px 0;
    background:#f5f5f5;
    border-bottom: 1px solid #ccc;
}

.wjs_product ,nav-tabs-container{
    width: 100%;
    overflow: hidden;
}

/*重新定义nav tab 样式 增加.wjs_product 限定样式适用范围*/
.wjs_product .nav-tabs{
    border-bottom: 1px solid #ddd;

}
.wjs_product .nav-tabs> li {
    float: left;
    /*margin-bottom: -1px;*/
    margin-left:15px;
}
.wjs_product .nav-tabs> li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 4px 4px 0 0;
}
.wjs_product .nav-tabs> li > a:hover {
    background-color: #f5f5f5;
    border-bottom: 1px solid red;
}
.wjs_product .nav-tabs> li.active > a,
.wjs_product .nav-tabs> li.active > a:hover,
.wjs_product .nav-tabs> li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #f5f5f5;
    border: none;
    border-bottom: 3px solid red;
}
.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs.nav-justified > li {
    float: none;
}
.nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}R
.nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}

.product-box{
    display: block;
    width:100% ;
    height: 150px;
    background: #fff;
    box-shadow: 3px 3px 5px #d8d8d8;
    margin-top: 25px;
    color: #666;
}
.product-box:hover{
    color: #666;
}
.product-box.active{
    background: #e92322;
    color:#fff;
    position: relative;
}
/* 单冒号和双冒号的区别
    1、低版本只支持单冒号
    2、CSS3规范 单冒号表示伪类，双冒号表示伪元素
*/
.product-box.active::before{
    content: "\e915";
    position: absolute;
    left: 0;
    top: -7px;
    /*设置使用字体，否则会变成微软雅黑就没图标了*/
    font-family: wjs;
    font-size: 33px;
}

.product-box .pro_left{
    overflow: hidden;
}
.product-box .pro_left h3{
    font-size: 16px;
    margin-top: 10px;
}
.product-box .pro_left div{
    font-size: 10px;
}
.product-box .pro_right{
    float: right;
    width: 80px;
    height: 150px;
    text-align: center;
    border-left: 1px dashed #ccc;
    position: relative;
}


/*!*半圆实现原理，使用伪元素圆球覆盖*!*/
.product-box .pro_right::before,
.product-box .pro_right::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #f5f5f5;
    /*移动元素的半径*/
    left:-6px;
}
.product-box .pro_right::before{
    top:-6px;
    /* 1、X轴偏移量
           2、Y轴偏移量
           3、阴影浓度
           4、阴影的延伸度
           4、颜色
           5、是否内阴影

     */
    /*box-shadow: 0 -2px 2px  10px #d8d8d8; inset;*/
    box-shadow: 0 -2px 2px   #d8d8d8 inset;
}
.product-box .pro_right::after{
     bottom: -6px;
     box-shadow: 0 2px 2px   #d8d8d8 inset;
 }
.product-box .pro_right .tips{
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;

}
.product-box .pro_right .tips span{
    display:inline-block;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 16px;
    border-width: 1px;
    border-style: solid;

 }
.product-box .pro_right .tips  .red{
    color:red;
    border-color: red;
}
.product-box .pro_right .tips  .green{
    color:green;
    border-color: green;
}


/* 元素类型选择器
    p:first-of-type
    p:last-of-type
    p:nth-of-type(n)
    p:nth-last-of-type(n)
    查找逻辑
    1、找到P元素
    2、通过P找到父元素
    3、通过父元素，找到子元素中类型为P的所有元素
    4、根据N和前缀查找具体的元素


    p:first-child
    查找逻辑
    1、找到P元素
    2、通过P找到父元素
    3、通过父元素，查找所有的子元素
    4、根据N和前缀查找具体的元素，然后匹配找到的元素是不是p类型，
          如果不是P就是无效选择器


*/
.product-box .pro_right p:first-of-type{
    margin-top: 25px;
}

.product-box .pro_right p:first-of-type b{
    font-size: 48px;
    color:#e92322;
}
.product-box.active .pro_right p:first-of-type b {
    color: #fff;

}
.product-box .pro_right p:first-of-type sub{
    bottom: 0;
    font-size: 12px;
}
.product-box .pro_right p:last-of-type{

}
/*产品模块 end*/

/* 新闻区块 */
.wjs_news{
  padding: 40px;
  border-bottom: 1px solid #ccc;
}
.wjs_news .wjs_news_title{
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  position: relative;

}
.wjs_news .wjs_news_title::after{
  content:"";
  position: absolute;
  right:-6px;
  bottom: -3px;
  width: 6px;
  height: 6px;
  border: 1px solid #ccc;
  border-radius: 50%;
  -webkit-border-radius: 50%;

}

.wjs_news .wjs_news_line{
  position: absolute; 
  widows: 1px;
  height: 100%;
  border-left: 1px dashed #ccc;
  left:45%;
  top:0;
}

.wjs_news .wjs_news_content{
  list-style: none; 
}
.wjs_news .wjs_news_content li a{
    display: block;
    padding: 15px 0;
    color: #666;
}



.wjs_news .nav-tabs {
  border-bottom: none;
}
.wjs_news .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.wjs_news .nav-tabs > li > a {
  margin-right: 0;
  /*不带单位表示文字的X倍*//*line-height: 1.42857143;
  */border:none;
  width:60px;
  height: 60px;
  border-radius:   30px;
  -webkit-border-radius:   30px;
  background: #ccc;
  margin-bottom: 60px;

  /* 让内容居中 注意要去除padding才有效*/
  padding: 0;

  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 30px;
}
/* 去除虚线最下面的那部分 */
.wjs_news .nav-tabs > li:last-child >a{
  margin-bottom: 0;
}

/* 响应式需求
1、小屏设备，间距固定没有虚线 
2、超小型设备 间距自适应，没有虚线
*/
/* 小屏设备，间距固定没有虚线  */
@media (min-width:768px) and (max-width:992px){
  .wjs_news .nav-tabs > li > a{
    margin: 30px 50px;
  }
}

@media (max-width:768px) {
/* 超小型设备，让a的父元素评分屏幕即可 */
  .wjs_news .nav-tabs > li {
    width:25%
  }
  .wjs_news .nav-tabs > li > a{
    margin:30px auto;
  }
}

.wjs_news .nav-tabs > li > a:hover {
 
}
.wjs_news .nav-tabs > li.active > a,
.wjs_news .nav-tabs > li.active > a:hover,
.wjs_news .nav-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  background-color: #e92322;
  border: none;
  border-bottom-color: transparent;
}
.wjs_news .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wjs_news .nav-tabs.nav-justified > li {
  float: none;
}
.wjs_news .nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wjs_news .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wjs_news .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wjs_news .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.wjs_news .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.wjs_news .nav-tabs.nav-justified > .active > a,
.wjs_news .nav-tabs.nav-justified > .active > a:hover,
.wjs_news .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .wjs_news .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wjs_news .nav-tabs.nav-justified > .active > a,
  .wjs_news .nav-tabs.nav-justified > .active > a:hover,
  .wjs_news .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}

/* 新闻模块End */
/* 合作伙伴 */
.wjs_partner{
    padding:50px 0;
}
.wjs_partner ul{
    list-style: none;
    text-align: center;
    padding:0;
}
.wjs_partner ul li{
   display: inline-block;
}
.wjs_partner ul li a{
   font-size: 70px;
 }

/* 合作伙伴 end */