<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
</head>
<body>
    <div id="app">
      <p v-for="(item,i) in list">索引-[{{i}}]----值-[{{item}}]</p>
      <hr>
      <p v-for="(item,i) in list2">索引-[{{i}}]----id:{{item.id}} name:{{item.name}}</p>

      <hr>
      <p v-for="(item,key,index) in user">{{index}}---{{key}}---{{item}}</p>
      <hr>
      对数字进行迭代是从1开始
      <p v-for="count in 4">{{count}}</p>


      <select >
        <option v-for="(item,index) in list2" :value="index" >{{item.name}}</option>
    </select>
    </div>

    
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
               list:[1,2,3,4],
               list2:[
                    {id:1,name:'a'},
                    {id:2,name:'b'},
                    {id:3,name:'c'}
               ],
               user:{id:1 ,name:"a" ,age:18},

            },
  
            

        });
    </script>
</body>
</html>