body{
    /* 底板灰色 */
    background:#f5f5f5
}


/* 整体布局 */
.jd_container{
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    /* background: pink;
    height: 1000px; */
}

/* 顶部搜索 （双飞翼/圣杯 布局）*/
.jd_search{
    /* 定义顶部定位框架 */
    width: 100%;
    height: 40px;
    position: fixed;
    left: 0;
    top: 0;
    /* 提高显示层级避免被轮播图覆盖 */
    z-index: 1;
}
.jd_search .jd_search_box{
    /* 定义顶部实际渲染头部页面 */
    height: 40px;
    min-width: 320px;
    max-width: 640px;
    width: 100%;

    background: rgba(201,21,35,0);
    margin: 0 auto;
    /* 配合logo 和查询按钮得定位 */
    position: relative;
}

.jd_search .jd_search_box .icon_logo{
    /* 定位logo */
    position: absolute;
    left: 10px;
    top: 4px;
    width: 60px;
    height: 36px;
    /* logo图片处理 
        由于精灵图的大小远大于实际的留空需要对图片进行特殊处理
         /200px 200px; 表示对图片进行压缩到200*200(原图400*400)
         压缩后 定位坐标应由 0 -210 变更为 0 -105
         通过两倍图的压缩,提高图片清晰度
    */
    /* 通过公共样式定义其他功能 */
    /* background: url("../images/sprites.png") no-repeat 0 -105px / 200px 200px; */
    background-position: 0 -105px;
}
.jd_search .jd_search_box .login{
    /* 定位 登录 */ 
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:#fff;
}
.jd_search .jd_search_box form{
    /* 查询文本框居中配置 */
    /* 空出右侧登录按钮的空间 */
    padding-right: 50px;
    /* 空出左侧logo的空间 */
    padding-left: 70px;
    /* 配合icon_search定位显示位置 */
    position: relative;
}

.jd_search .jd_search_box form .icon_search{
    width: 20px;
    height: 20px;
    position:absolute;
    /* paddingleft 70 +向右移动量20 */
    left:90px;
    top:10px;
    /* 通过公共样式定义效果 */
    /* background: url("../images/sprites.png") no-repeat -60px -109px / 200px 200px; */
    background-position: -60px -109px;
}
.jd_search .jd_search_box form input{
    /* 查询文本框 */
    /* 百分比,记算方式基于父容器的content记算 */
    width:100%;
    /* 父容器总高度40px */
    height: 30px;
    margin-top: 5px;
    background: #fff;
    border-radius: 20px;
    /* 移动占位符 */
    padding-left: 40px;
}

/* 顶部搜索 （双飞翼/圣杯 布局） end */


/* 轮播图布局 */
.jd_banner{
    width:100%;
    /* 隐藏横排两边多出的图片 */
    overflow: hidden;
    position: relative;
}
/* 图片部分 */
/*  */
.jd_banner ul:first-child{
    /* 需要放下10张图片X方向 */
    width: 1000%;

    /* 将图片向左移动一张移到第一张显示 */
    transform: translateX(-10%);
    /*兼容 */
    -webkit-transform: translateX(-10%);
}
.jd_banner ul:first-child li{
    /* 与设备宽度持平 10张图 父容器宽度1000% */
    width:10%;
    float:left;
}
.jd_banner ul:first-child a{
    display: block;
    /*与li保持一致 */
    width:100%
}
.jd_banner ul:first-child img{
    /* 去除图片的下间隙
     */
    display: block;
    width:100%;

}

/* 按钮部分 */
.jd_banner ul:last-child{
    position: absolute;     
    left:50%;
    /* 16px*8   -  第一个的marginleft 10 */
    width:118px;
    height: 6px;
    /* left50%后左移动，让控件视觉居中 */
    margin-left:-59px;
    bottom:6px;
}
.jd_banner ul:last-child li{
    width:6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #fff;
    margin-left: 10px;
    float: left;
}
.jd_banner ul:last-child li:first-child{
    margin-left:0;
}

.jd_banner ul:last-child li.now{
    background: #fff;
}
/* *{
    border:1px solid blue;
} */

/* 导航栏目 */
.jd_nav{
    width:100%;
    background: #fff;
}
.jd_nav ul{
    width:100%;
    padding-top:10px;
    border-bottom:1px solid #ccc;
}
.jd_nav ul li{
    /* 每行四个 */
    width:25%;
    float :left;
  
}
.jd_nav ul li a{
    display: block;
    width:100%;
   
}
.jd_nav ul li a img{
    display:block;
    /* 图片原大小80px 2倍图压缩 */
   
    width:40px;
    height: 40px;
    margin: 0 auto;
}
.jd_nav ul li a p{
   
    text-align: center;
    font-size: 12px;
    color:#666;
    padding:5px 0;
   
}


/* 产品区块 */
.jd_product{
    padding:0 5px;

}
/* 产品盒子 */
.jd_product_box{
    margin-top: 10px;
    box-shadow: 0 0 2px #ccc;
    min-height: 200px;
    background: #fff;
}
.jd_product_box .tit{
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #ddd;
}
.jd_product_box .tit.nb{
    border:none;
}
.jd_product_box .tit h3{
    font-weight: normal;

    /* 配合伪元素的定位 */
    position: relative;

    padding-left: 23px;
}
.jd_product_box .tit h3::before{
 
    content:"";
    width:3px;
    height: 12px;
    background-color: #d8505c;
       /* 为元素默认行内元素 据对定位后变成块级元素*/
    position:absolute;
    left:10px;
    top:11px;
}


/* 秒杀 */
.sk .icon{
    width: 16px;
    height: 20px;
    float: left;
    margin-left: 10px;
    margin-top:7px;
    background: url("../images/seckill-icon.png") no-repeat center/16px 20px;
}
.sk .name{
    float: left;
    margin-left: 16px;
    font-size:  #d8505c;
}
.sk .time{
    float: left;
    margin-left: 10px;
}
.sk .time span{
    float: left;
    width:16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color:#fff;
    background: #333;
    margin-left: 3px;
    margin-top:9px;
}

/* 选中第3个第6个元素 */
.sk .time span:nth-child(3n){
    background: #fff;
    width:3px;
    color: #333;
}
.sk .pro{
    width:100%;
}
.sk .pro li{
    width:33.33%;
    float: left;
    padding: 10px;
}
.sk .pro li a{
    display: block;
    border-right: 1px solid #ddd;
}
.sk .pro li:last-child a{
    border:none;
}
.sk .pro li a img{
    display: block;
    margin:0 auto;
    /* 图片为响应式，不设定固定像素宽度 */
    width:64%;
}
.sk .pro li p{
    text-align: center;
    font-size: 12px;
    padding:5px 0;
}
.sk .pro li .nowPrice{
    color:#d8505c;
}
.sk .pro li .oldPrice{
    color:#666;
    /* 删除线 */
    text-decoration: line-through;
}

/* 组合样式的使用 */

.w_50p{
    width:50%;    
}

.w_50p img{
    display: block;
    width:100%;
}
.bl{
    border-left: 1px solid #ddd;
}
.br{
    border-right: 1px solid #ddd;
}
.bb{
    border-bottom: 1px solid #ddd;
}



